@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Paytone+One&family=Phetsarath:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(15, 15, 25, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}